# Lab5



## 1. Write your code according to the following instructions:

* Create a list of integers and find the sum of all even numbers.
* Add a new element to the end of the list.
* Remove the first element from the list.
* Sort the list in ascending order.

In [51]:
# Create a list of integers
int_list = list(range(1, 100))
print(sum([i for i in int_list if i % 2==0]))

int_list.append(100)
int_list.remove(int_list[0])
print(int_list)

int_list_sort = sorted(int_list)
print(int_list_sort)

2450
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## 2. Write your code according to the following instructions:

* Create a tuple containing names of your three favorite fruits.
* Use tuple unpacking to assign each fruit to a separate variable.
* Create a new tuple by concatenating your favorite fruits with a tuple of your favorite vegetables.

In [116]:
# Create a tuple containing names of your three favorite fruits.
fruits = ("apple", "banana", "cherry")
vegetables = ("carrot", "spinach", "cabbage")
tup = fruits + vegetables
print(tup)

('apple', 'banana', 'cherry', 'carrot', 'spinach', 'cabbage')

## 3. Write your code according to the following instructions:

* Create a list of strings and find the longest string.
* Calculate the sum of a range of numbers from 1 to 100.
* Using a list comprehension, create a list containing the squares of the numbers from 1 to 10.

In [118]:
# Create a list of strings
strings = ["apple", "banana", "A", "Hello", "Python is fun!", "pineapple", "blueberry", ]
print(max(strings, key=len))

print(sum(range(1,101)))

sq_list = [i**2 for i in range(1,11)]
print(sq_list)

Python is fun!
5050
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


## 4. Write your code according to the following instructions:

* Create two lists, a and b, where b is a shallow copy of a.
* Modify an element in a and observe the effect on b.
* Repeat the process using a deep copy instead of a shallow copy.

In [57]:
import copy

# Create a list with variable name a
a = [1, 2, [3, 4]]
b = a

a.append([5,6])
print(a)
print(b)

b = copy.deepcopy(a)
a.append([7,8])
print(a)
print(b)

[1, 2, [3, 4], [5, 6]]
[1, 2, [3, 4], [5, 6]]
[1, 2, [3, 4], [5, 6], [7, 8]]
[1, 2, [3, 4], [5, 6]]

## 5 Write your code according to the following instructions:

* Create a string containing a sentence.
* Reverse the order of the words in the sentence.
* Convert the sentence to uppercase.
Replace a word in the sentence with another word.

In [120]:
# Create a string containing a sentence.
sentence = "This is a sample sentence"
print(" ".join(sentence.split()[::-1]))
print(sentence.upper())
print(sentence.replace("sample", "simple"))
print(sentence) #string 불변

sentence sample a is This
THIS IS A SAMPLE SENTENCE
This is a simple sentence
This is a sample sentence

# 6. Palindrome Check

A palindrome is a word, phrase, number, or other sequences of characters that reads the same forward and backward, ignoring spaces, punctuation, and capitalization. Write a function that checks if a given string is a palindrome.

In [125]:
def is_palindrome(s: str):
    if len(s)>=2:
        str_rev = s[::-1]
        if s==str_rev:
            return True
        else:
            return False
    else:
        return False

input_strings = ['', 'a', 'bb', 'racecar', 'hello', 'madam', 'python', 'level', 'world']
for s in input_strings:
    print(is_palindrome(s))

check_str = [b for b in input_strings if is_palindrome(b)]
print(check_str)

False
False
True
True
False
True
False
True
False
['bb', 'racecar', 'madam', 'level']

# Lab6

## 1. Write your code according to the following instructions:

* Create a list of numbers from 1 to 50.
* Filter out all the numbers that are divisible by 3 and store them in a new list.
* Calculate the sum of the remaining numbers in the original list.
* Reverse the order of the elements in the original list.

In [126]:
# Create a list of numbers from 1 to 50
numbers = list(range(1, 51))
num_new = [i for i in numbers if i%3==0]
print(num_new)

print([i for i in numbers if i not in num_new])
print(sorted(numbers, reverse=True))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]
[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50]
[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 2. Write your code according to the following instructions:

* Create a tuple containing 5 numbers.
* Calculate the minimum, maximum, and average of the numbers in the tuple.
* Create a new tuple by appending the calculated minimum, maximum, and average to the original tuple.
* Use tuple unpacking to store the first three elements of the new tuple in separate variables.

In [85]:
# Create a tuple containing 5 numbers
numbers = (3, 7, 2, 9, 5)
print(min(numbers))
print(max(numbers))
print(sum(numbers)/len(numbers))

# Create new tuple
new_num = (min(numbers), max(numbers), sum(numbers)/len(numbers))
print(new_num)

#unpacking
min_num, max_num, avg_num = (min(numbers), max(numbers), sum(numbers)/len(numbers))
print(min_num)
print(max_num)
print(avg_num)

2
9
5.2
(2, 9, 5.2)
2
9
5.2

In [ ]:
# Given a list of strings
strings = ["apple", "banana", "pineapple", "blueberry", "kiwi"]

## 3. Write your code according to the following instructions:

* Write a function that takes a string as input and returns the string with all vowels removed.
* Create a list of strings and use the function to filter the vowels from each string.
* Sort the filtered strings based on the number of consonants.
* Write a function that takes a string as input and returns the string with words in reverse order. Use this function on each string in the list of filtered strings.

In [128]:
def remove_vowels(s):
  # implement your code
  vowels = ['a', 'e', 'i', 'o', 'u']
  for v in vowels:
      s = s.replace(v,'')

  return s

def reverse_word(s):
    return sorted(s, reverse=True)

# Create a list of strings
strings = ["apple", "banana", "cherry", "kiwi", "mango", "orange", "strawberry", "avocado", "zucchini", "grape", "blueberry"]

filtered_strings = []
for s in strings:
    filtered_strings.append(remove_vowels(s))
print(filtered_strings)

filtered_strings.sort(key=len)
print(filtered_strings)

for s in filtered_strings:
    print("".join(reverse_word(s)))

['ppl', 'bnn', 'chrry', 'kw', 'mng', 'rng', 'strwbrry', 'vcd', 'zcchn', 'grp', 'blbrry']
['kw', 'ppl', 'bnn', 'mng', 'rng', 'vcd', 'grp', 'chrry', 'zcchn', 'blbrry', 'strwbrry']
wk
ppl
nnb
nmg
rng
vdc
rpg
yrrhc
znhcc
yrrlbb
ywtsrrrb

## 4. Two Sum

Given a list of integers and a target integer, find two integers in the list that sum up to the target. Return their indices as a tuple. Assume there is exactly one solution and you may not use the same element twice.


```
# input data 1
numbers = [3, 2, 4]
target = 6

# output data 1
(1, 2)

# input data 2
numbers = [8, 5, 6, 1, 2, 9]
target = 9

# output data 2
(0, 3)

# input data 3
numbers = [1, 3, 6, 9, 2, 4, 8]
target = 14

# output data 3
(2, 6)
```

In [90]:
def two_sum(nums, target):
    # Implement your code
    # Return two integers in the list that sum up to the target
    for i in range(len(nums)):
        for j in range(i+1, len(nums)):
            if nums[i] + nums[j] == target:
                return (i,j)

print(two_sum([3,2,4], 6))
print(two_sum([8, 5, 6, 1, 2, 9], 9))
print(two_sum([1, 3, 6, 9, 2, 4, 8], 14))

(1, 2)
(0, 3)
(2, 6)